*{
    margin: 0;
    padding: 0;
}
/* header section */
header{
    background-image: url(./Assets/Hero-bg.png);
    height: 450px;
    width: 100%;
}
.btn-primary{
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 15px 32px;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 35px 140px;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 200px 120px 200px;
    gap: 25px;
}
.banner p{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
.txt-primary{
    color: #4E47FF;
}
.txt-dark{
    color: #252432;
}

/* action part*/
.action{
    display: flex;
    justify-content: space-between;
    padding: 80px 120px;

}
.content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: start;
}
.content h2{
    font-weight: bold;
    font-size: 42px;
}
.content p{
    font-size: 25px;
}
.action-img img{
    height: 220px;
    width: 350px;
    border-radius: 30px;
}

/* productive user */
.productive-user{
    background-color: #e5e7ff;
    padding: 40px 140px;
    margin: 80px 120px;
    border-radius: 20px;
    text-align: center;
}
.productive-user h2{
    font-weight: bold;
    font-size: 35px;
}
.user-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.num{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
.sub-title{
    color: #252432;
    font-size: 20px;
}